<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion clasificacion:</strong>
  <%= @clasification.descripcion_clasificacion %>
</p>

<%= link_to 'Edit', edit_clasification_path(@clasification) %> |
<%= link_to 'Back', clasifications_path %>
